# Git
.git
.gitignore

# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
.nuxt/
.output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
